<div *ngIf="srvMatch.currentMatch!=null ">

    <label>Récap de votre partie</label>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Taille</th>
                <th>Etat</th>
                <th>Propiétaire</th>
                <th>Joueur(s)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <td>{{ srvMatch.currentMatch.id }}</td>
            <td>{{ srvMatch.currentMatch.name }}</td>
            <td>{{ srvMatch.currentMatch.players.length }} / {{ srvMatch.currentMatch.size }}</td>
            <td>{{ srvMatch.currentMatch.state }}</td>
            <td>{{ srvMatch.currentMatch.owner.name }}</td>
            <td><span *ngFor="let player of srvMatch.currentMatch.players">{{player.name}} |</span></td>
            <td >
                <button *ngIf="srvMatch.currentMatch.state=='READY'"
                (click)="jouerPartie()" class="btn btn-success">Jouer la partie</button>
                <button *ngIf="srvMatch.currentMatch.owner.id==srvUser.user.id && srvMatch.currentMatch.players.length>3"
                (click)="jouerPartie()" class="btn btn-success">Lancer la partie</button>
                <button  *ngIf="srvMatch.currentMatch.owner.id==srvUser.user.id"
                (click)="supprimer(match)" class="btn btn-danger m-1">Supprimer</button>
            </td>
            
        </tbody>
    </table>

</div>

<br><br>

<table class="table table-striped">
	<thead>
		<tr align:center>
			<th>ID</th>
			<th>Nom</th>
			<th>Taille</th>
            <th>Etat</th>
            <th>Propiétaire</th>
			<th>Joueur(s)</th>
			<th><button (click)="refresh()" class="btn btn-primary m-1">Rafraîchir</button></th>
		</tr>
	</thead>

	<tbody>
        <tr>
            <td></td>
			<td><input type="text" clas="form-control" required [(ngModel)]="match.name" placeholder="Nom de la partie"></td>
			<td><input type="number" min="4" max="8" required style="width:95px" [(ngModel)]="match.size" class="form-control" placeholder="Nombre de joueurs"></td>
			<td>Création</td>
            <td>Vous</td>
            <td>0 pour l'instant</td>
			<td>
				<button (click)="creer()" class="btn btn-success m-1">Créer</button>
			</td>
        </tr>
		<tr *ngFor="let match of srvMatch.matchesEnCours" align:center>
			<td>{{ match.id }}</td>
			<td>{{ match.name }}</td>
			<td>{{ match.players.length }} / {{ match.size }} joueur(s)</td>
            <td>{{ match.state }}</td>
            <td>{{ match.owner.name }} {{match.owner.id}}</td>
			<td>
                <span *ngFor="let player of match.players">{{player.name}} | </span>
            </td>
            <td>
                <button  *ngIf="match.owner.id==srvUser.user.id"
                (click)="supprimer(match)" class="btn btn-danger m-1">Supprimer</button>
                <button *ngIf="match.state=='WAITING'"
                (click)="rejoindre(match)" class="btn btn-primary m-1">Rejoindre</button>
                <button  *ngIf="match.state=='PLAYING'"
                (click)="regarder(match)" class="btn btn-primary m-1">Regarder</button>
            </td>
		</tr>
	</tbody>
</table>