<div *ngIf="match.state=='READY' || match.state=='WAITING' ">

    <label>Récap de votre partie</label>
    <table >
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Taille</th>
                <th>Etat</th>
                <th>Propiétaire</th>
                <th>Joueur(s)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <td>{{ user.currentMatch.id }}</td>
            <td>{{ user.currentMatch.name }}</td>
            <td>{{ user.currentMatch.players.length }} / {{ user.currentMatch.size }}</td>
            <td>{{ user.currentMatch.state }}</td>
            <td>{{ user.currentMatch.owner.name }}</td>
            <td>
                <span *ngFor="let player of match.players()">
                    {{player.name}}, &nbsp;
                </span>
            </td>
            <td *ngIf="match.state=='READY'">
                <button onclick="jouerPartie()" class="btn btn-success">Jouer la partie</button>
            </td>
        </tbody>
    </table>

</div>

<br><br>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nom</th>
			<th>Taille</th>
            <th>Etat</th>
            <th>Propiétaire</th>
			<th>Joueur(s)</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
        <tr>
            <td></td>
			<td><input type="text" clas="form-control" placeholder="Nom de la partie"></td>
			<td><input type="number" min="4" max="8" clas="form-control" placeholder="Nombre de joueurs"></td>
			<td></td>
			<td></td>
			<td>
				<button (click)="creer()" class="btn btn-success m-1">Créer</button>
			</td>
        </tr>
		<tr *ngFor="let match of listeMatchEnCours()" >
			<td>{{ match.id }}</td>
			<td>{{ match.name }}</td>
			<td>{{ match.player.length }} / {{ match.size }} joueur(s)</td>
            <td>{{ match.state }}</td>
            <td>{{ user.currentMatch.owner.name }}</td>
			<td>
                <span *ngFor="let player of match.players()">
                    {{player.name}} | &nbsp;
                </span>
            </td>
            <td *ngIf="match.owner.id==user.id">
                <button (click)="supprimer(match)" class="btn btn-danger m-1">Supprimer</button>
            </td>
			<td *ngIf="match.owner.id!=user.id">
				<button (click)="rejoindre(match)" class="btn btn-primary m-1">Rejoindre</button>
			</td>
		</tr>
	</tbody>
</table>