<body>



    Londres, 1890. Alors que la nuit tombe sur la ville,
un fiacre traverse le brouillard et fait s’écarter les
passants dans un tonnerre de sabots et de cris. À son
bord, Sherlock Holmes tapote sa montre à gousset
et regarde pensivement la silhouette de Big Ben
surplombant la Tamise. « Je vais te sortir de là, mon
ami », dit-elle avec un soupçon d’inquiétude dans la voix.
Moriarty, cette fois, a imaginé la
pire des machinations. Elle va
détruire l’ensemble des monuments
les plus emblématiques de la ville.
Buckingham Palace, l’abbaye de
Westminster, le British Museum…
tous sont sous la menace de puissants
explosifs, programmés pour se
déclencher à minuit avec l’ultime
chant de Big Ben.
Le génie criminel a lancé
ce terrible défi à Sherlock
Holmes. Le brillant
détective doit neutraliser
chaque bombe avant qu’elle
n’explose, ou bien Moriarty
pourra semer à loisir le chaos
dans toute l’Angleterre.
Matériel
1 carte Pince
Coupante
1 jeton Pince
Coupante articulé
1 feuillet qui présente la
variante « Évolution »
6 cartes Rôle
6 jetons
Compte-tours
6 cartes
Numéro
4 membres de l’équipe
Sherlock (bleues) 2 membres de l’équipe
Moriarty (rouges)
36 cartes Câble
6 Câbles de
Désamorçage
5 Bombes Colorées
dans chacune
des 6 couleurs
2 3
Déroulement d’une manche Lorsque vous coupez une carte Câble, que vous révéliez un
Câble de Désamorçage ou une Bombe Colorée, placez-la au
centre de la table, puis appliquez l’effet correspondant :
Câble de Désamorçage
Chacun des Câbles désamorce une couleur de Bombe.
Suivez les consignes suivantes :
Attribuez ce Câble de Désamorçage à une
couleur de Bombe dont au moins une carte a
déjà été révélée. Placez-le à cheval sur les cartes
de la couleur choisie.
Il ne peut y avoir au maximum qu’un Câble de
Désamorçage attribué à une même couleur. Il
ne peut jamais y avoir de Câble de Désamorçage
attribué à la couleur jaune.
Si aucune des couleurs ne peut être choisie parce
qu’il n’y en a pas encore face visible sur la table, ou
qu’elles sont toutes déjà désamorcées, placez la carte
Câble de Désamorçage au centre de la table, à l’écart
des autres. Elle rapproche l’équipe Sherlock de la
victoire, mais n’a pas d’effet de désamorçage.
Désormais, tant que cette couleur est désamorcée, la Bombe
n’explose pas.
Attention : La Bombe Rose peut constituer une exception (voir p. 4).
Bombe Jaune
Cette Bombe ne peut pas être désamorcée.
Lorsque vous devez choisir une couleur à désamorcer,
vous ne pouvez pas choisir la couleur jaune.
Bombe Bleue
Chacune des cartes de ce type annule les effets d’un
Câble de Désamorçage.
Choisissez un Câble de Désamorçage attribué à
une couleur au centre de la table, et placez-le à
l’écart des autres. La couleur en question n’est plus
désamorcée, et peut donc de nouveau faire exploser la
Bombe lors de tours ultérieurs, voire immédiatement
si suffisamment de cartes sont déjà révélées. Si c’est le
cas, l’équipe Moriarty l’emporte. Si aucun Câble de
Désamorçage n’est visible sur la table, ignorez l’effet
de ce Câble.
Bombe Rouge
Chacune des cartes de ce type impose de couper le prochain
Câble devant un joueur au hasard.
Le joueur dont une carte a été révélée ce tour doit
procéder comme suit :
Prenez le paquet de cartes Numéro, mélangez-le
et piochez-y une carte au hasard.
Le numéro de cette carte vous indique un joueur :
le 0 vous désigne, le 1 désigne le 1er joueur à votre
gauche, le 2 désigne le 2e
 joueur à votre gauche, etc.
Vous devez alors couper une carte au choix devant
ce joueur. Cela se produit même si la Bombe Rouge
révélée est la dernière carte de la manche : la carte
Numéro indique donc le premier joueur de la
prochaine manche devant qui couper.
La carte 0 constitue la seule exception à la règle vous interdisant de
couper une de vos cartes Câble : si vous piochez cette carte, coupez
l’un de vos propres Câbles. Si le joueur désigné n’a plus de cartes,
il reçoit la Pince Coupante et devient le premier joueur.
4 5
Éléments de jeu
Moriarty a piégé les monuments les plus emblématiques de
la ville de Londres et elle se prépare à les faire exploser !
Sherlock doit désamorcer les bombes avant minuit. Au
début de la partie, vous découvrez secrètement à quelle
équipe vous appartenez : Sherlock ou Moriarty. Vous devrez
alors tenter d’identifier partenaires et adversaires sans vous
faire démasquer.
Tour à tour, choisissez un câble à couper devant un autre
joueur pour, selon votre équipe, tenter de désamorcer ou de
faire exploser l’une des bombes. L’équipe Sherlock gagne la
partie si elle parvient à désamorcer toutes les bombes qui
menacent Londres, tandis que l’équipe Moriarty gagne la
partie si elle parvient à en faire exploser une.
Aperçu et but du jeu
Membres de l’équipe Sherlock
Les membres de l’équipe Sherlock
sont représentés par les cartes Rôle
avec un fond bleu. L’objectif de ces
membres est de désamorcer les
Bombes pour empêcher Moriarty
de les faire exploser.
Membres de l’équipe Moriarty
Les membres de l’équipe Moriarty
sont représentés par les cartes Rôle
avec un fond rouge. L’objectif de
ces membres est de faire exploser
l’une des Bombes avant que l’équipe
Sherlock ne les désamorce toutes.
Cartes Rôle
Les cartes Rôle déterminent l’équipe
à laquelle chaque joueur appartient
durant la partie.
Elles sont de deux types : les
membres de l’équipe et les
membres de l’équipe :
Vous avez déjà joué à Time Bomb - Moriarty vs Sherlock ?
Félicitations, vous avez déjà les bases pour jouer à Time
Bomb Évolution ! En effet, seules la mise en place et les
conditions de fin de partie sont légèrement différentes.
Notez que les Câbles Sécurisés s’appellent désormais des
Bombes Colorées… et découvrez sans plus attendre la
variante Évolution sur le feuillet séparé !
2
6 7
Pince Coupante (ou la carte)
La Pince Coupante est l’outil utilisé par
les joueurs pour couper des Câbles et ainsi
tenter de désamorcer ou de faire exploser
l’une des Bombes. Utilisez au choix la carte
ou la Pince Coupante.
Jetons Compte-tours
(voir p. 12)
Ces jetons sont optionnels.
Ils permettent de tenir
plus facilement
le compte des tours
déjà passés.
Bombes Colorées
Les Bombes Colorées existent en 6 couleurs différentes.
Dans la variante Évolution, couper l’un de ces Câbles
déclenche un effet spécial. Cela peut même faire
exploser l’une des Bombes, offrant ainsi la victoire à
l’équipe Moriarty.
Câbles de Désamorçage
Couper un Câble de Désamorçage vous
rapproche de la victoire si vous faites
partie de l’équipe Sherlock. Si tous les
Câbles de Désamorçage en jeu sont
trouvés, les Bombes sont désamorcées.
Cartes Numéro
Ces cartes servent uniquement si vous jouez
avec la variante Évolution. Elles permettent
de définir au hasard le prochain joueur devant
lequel un Câble doit être coupé, lorsqu’un
effet de jeu le demande.
Cartes Câble
Les cartes Câble représentent les
Câbles à couper pour tenter de
désamorcer ou de faire exploser
les Bombes. Elles se composent de
deux types différents :
8 9
Mise en place
Préparez les cartes Rôle en fonction du nombre
de joueurs. Remettez le reste des cartes Rôle dans
la boîte, elles ne seront pas utilisées pour la partie.
Ajoutez enfin autant de cartes Câble de Désamorçage
qu’il y a de joueurs.
Exemple : Lors d’une partie à 6 joueurs, prenez les 5 cartes
Bombe Colorée de chacune des 6 couleurs, soit 30 cartes.
Mélangez-les, puis retirez-en 6 au hasard. Enfin, ajoutez
6 cartes Câble de Désamorçage. Le paquet de cartes Câble est prêt.
Mélangez le paquet de cartes Câble et distribuez-en 5,
face cachée, à chaque joueur.
Chaque joueur prend secrètement connaissance de ses
cartes Câble, les mélange puis les place, face cachée, devant
lui (sans connaître l’ordre des cartes).
Le dernier joueur à s’être rendu à Londres devient le
premier joueur et reçoit la Pince Coupante, qu’il place
devant lui.
Mélangez les cartes Rôle et distribuez-en une, face cachée,
à chaque joueur, qui la regarde secrètement.
* Remarque : Lors d’une partie à 4 joueurs, une des cartes
Rôle n’est pas distribuée. Mettez-la de côté sans la regarder. De
cette façon, vous ne pouvez pas être certain du nombre exact de
membres de chaque équipe dans la partie en cours.
Préparez le paquet de cartes Câble comme suit :
Choisissez autant de couleurs de Bombes Colorées qu’il
y a de joueurs. Prenez les 5 cartes de chacune de ces
couleurs. Les couleurs choisies n’ont d’importance que si
vous jouez avec la variante Évolution (voir feuillet).
Mélangez-les, puis retirez au hasard autant de cartes
qu’il y a de joueurs.
1
4
2
5
3
6
Nombre
de joueurs
4* - 5
6
2
2
Équipe
Moriarty
3
4
Équipe
Sherlock
Optionnel : Si vous le
souhaitez, vous pouvez vous
aider des jetons Compte-tours
pour suivre l’avancée de
la manche en cours et tenir
le compte des cartes Câble
révélées ce tour.
10 11
Déroulement de la partie
La partie se déroule en quatre manches maximum durant
lesquelles vous utilisez la Pince Coupante pour couper des
Câbles devant les autres joueurs en espérant remplir votre objectif.
Déroulement d’une manche
En tant que premier joueur, prenez la Pince Coupante et
posez-la devant la carte Câble d’un autre joueur que vous
souhaitez couper. N’hésitez pas à discuter et écouter les
arguments de chacun avant de choisir le Câble à couper.
Vous ne pouvez pas couper l’un de vos propres Câbles.
Ensuite, révélez la carte Câble coupée et posez-la au centre
de la table :
S’il s’agit de la 1re, de la 2e
 ou de la 3e carte Bombe
Colorée d’une même couleur, rien ne se passe.
Placez-la avec les autres cartes révélées pour tenir le
compte des cartes Bombe Colorée de cette couleur
déjà trouvées.
S’il s’agit de la 4e
 carte Bombe Colorée d’une même
couleur, les membres de l’équipe Moriarty gagnent
immédiatement la partie. Sinon, la partie continue.
S’il s’agit d’une carte Câble de Désamorçage, placezla avec les autres cartes révélées pour garder le compte
des cartes Câble de Désamorçage déjà trouvées.
Si c’est la dernière carte Câble de Désamorçage qu’il
restait à trouver, les membres de l’équipe Sherlock gagnent
immédiatement la partie. Sinon, la partie continue.
Ensuite, le joueur devant lequel vous avez révélé une carte
prend la Pince Coupante et procède de la même manière.
Fin de la manche
La manche se termine lorsque le nombre de cartes Câble
révélées au cours de la manche est égal au nombre de joueurs.
 Exemple : À 5 joueurs, la manche se termine après que la
5e
 carte Câble de la manche en cours est révélée.
Rassemblez toutes les cartes Câble non coupées (c.-à-d.
face cachée) devant tous les joueurs et mélangez-les sans les
regarder. Distribuez de nouveau les cartes Câble, face cachée,
de sorte que tous les joueurs en aient le même nombre. Puis
répétez l’étape de la mise en place (p. 9).
À chaque nouvelle manche, chaque joueur a donc une carte de
moins qu’au début de la manche précédente.
Une nouvelle manche commence, et le
dernier joueur à avoir reçu le jeton Pince
Coupante durant la manche précédente
devient le premier joueur.
5
Fin de la partie
La partie se termine immédiatement si l’une
des trois conditions suivantes est remplie :
Tous les Câbles de Désamorçage sont révélés. Les membres
de l’équipe Sherlock gagnent immédiatement la partie.
Une 4e
 carte Bombe Colorée d’une couleur est révélée, la
faisant exploser. Les membres de l’équipe Moriarty gagnent
immédiatement la partie.
À la fin des quatre manches, aucune des deux conditions
précédentes n’est remplie. Les membres de l’équipe Moriarty
gagnent la partie.

</body>

