<body>


<h2> Contexte du jeu</h2>
Moriarty a posé une bombe au cœur de Big Ben qu’il veut faire
exploser, tandis que Sherlock se précipite pour la désamorcer.
Au début de la partie, vous découvrez secrètement à quelle
équipe, de Sherlock ou Moriarty, vous appartenez, et tentez
d’identifier vos partenaires sans vous faire démasquer par vos
adversaires. Tour à tour, choisissez un câble à couper chez un
autre joueur pour, selon votre équipe, tenter de désamorcer
ou de faire exploser la bombe.
<br>L’équipe de Sherlock gagne la partie si elle parvient à
désamorcer la bombe, tandis que l’équipe de Moriarty
gagne la partie si elle parvient à faire exploser la bombe qui
détruira Big Ben.


<h2>Explications des cartes</h2>


1 jeton Pince Coupante articulé
<br>
<br>
6 cartes Rôle
<br>
Les cartes Rôle déterminent l’équipe
à laquelle chaque joueur appartient
durant la partie.
Elles sont de deux types : les
membres de l’équipe Sherlock et les
membres de l’équipe Moriarty:
<br>
<br>
4 membres de l’équipe Sherlock (bleues)
<br>
Les membres de l’équipe Sherlock
sont représentés par les cartes Rôle
avec un fond bleu. L’objectif de ces
membres est de désamorcer les
Bombes pour empêcher Moriarty
de les faire exploser.
<br>
<br>
2 membres de l’équipe Moriarty (rouges)
<br>
Les membres de l’équipe Moriarty
sont représentés par les cartes Rôle
avec un fond rouge. L’objectif de
ces membres est de faire exploser
l’une des Bombes avant que l’équipe
Sherlock ne les désamorce toutes.
<br>
<br>
Cartes Câble
Les cartes Câble représentent les Câbles à
couper pour tenter de désamorcer ou faire
exploser la Bombe. Elles se composent de
trois types différents.
<br>
Câble Sécurisé<br>
Couper un Câble Sécurisé
n’a aucun effet.*
<br>
Câble de Désamorçage<br>
Couper un Câble de Désamorçage
vous rapproche de la victoire
si vous faites partie de l’équipe
Sherlock. Si tous les Câbles de
Désamorçage en jeu sont trouvés,
Big Ben est sauvé.
<br>Bombe<br>
Couper le Câble de la Bombe
la fait exploser, elle détruit
Big Ben et offre la victoire
à l’équipe Moriarty.


<h2>Deroulement de la partie</h2>
    
La partie se déroule en quatre manches maximum durant
lesquelles vous utilisez la Pince Coupante pour couper des
Câbles chez les autres joueurs en espérant remplir votre objectif.<br><br>
<h3>Déroulement d’une manche </h3>
En commençant par le premier joueur, prenez le jeton
Pince Coupante et posez-le devant la carte Câble que vous
désirez couper chez un autre joueur. N’hésitez pas à discuter
et écouter les arguments de chacun avant de choisir le Câble
à couper. Vous ne pouvez pas couper un de vos propres
Câbles. Ensuite, révélez la carte Câble coupée et posez-la au
centre de la table.
<br>
S’il s’agit d’une carte Câble Sécurisé, il ne se
passe rien.
<br>
S’il s’agit d’une carte Câble de Désamorçage,
écartez-la des autres cartes révélées pour garder
le compte des cartes Câble de Désamorçage
déjà trouvées. Si c’est la dernière carte Câble de
Désamorçage qu’il restait à trouver, les membres
de l’équipe Sherlock gagnent immédiatement la
partie. Sinon, la partie continue.<br>
S’il s’agit de la carte Bombe, les membres de
l’équipe Moriarty gagnent immédiatement la
partie.
<br>
Ensuite, le joueur qui a été contraint de révéler une de ses
cartes Câble prend le jeton Pince Coupante et procède de la
même manière.
<br>
<h3>Fin de la manche</h3>
La manche se termine lorsque le nombre de cartes Câble
révélées au cours de la manche est égal au nombre de joueurs. 
Rassemblez toutes les cartes Câble non coupées (i.e. face
cachée) chez tous les joueurs et mélangez-les sans les
regarder. Distribuez de nouveau les cartes Câble, face cachée,
de sorte que tous les joueurs en aient le même nombre. Puis une nouvelle manche commence, et le dernier joueur à avoir
reçu le jeton Pince Coupante durant la manche précédente
devient le premier joueur



<h2>Fin de la partie</h2>
La partie se termine immédiatement si l’une
des trois conditions suivantes est remplie :
<br><h4>1</h4>Tous les Câbles de Désamorçage sont révélées. Les membres
de l’équipe Sherlock gagnent immédiatement la partie.

<br><h4>2</h4>La carte Bombe est révélée. Les membres de l’équipe
Moriarty gagnent immédiatement la partie.
<br><h4>3</h4>À la fin des quatre manches, aucune des deux conditions
précédentes n’est atteinte. Les membres de l’équipe
Moriarty gagnent la partie.
</body>

